{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% load jalali_tags %}

{% block page_title %}Blog Detail{% endblock page_title %}


{% block content %}
{% include 'header.html' %}

    <!-- Page Title -->
    <div class="page-title page-title-blog text-left">
        <div class="themeflat-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h1 class="title">{% trans "Blog detail" %} </h1>
                    </div><!-- /.page-title-captions -->
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans "Homepage" %} </a></li>
                            <li> <i class="icon-Arrow---Right-2"></i></li>
                           
                            <li><a>{% trans "Latest News" %} </a></li>
                        </ul>
                    </div><!-- /.breadcrumbs -->

                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-title -->

    <!-- Blog Posts -->
    <section class="main-content blog-content-single">
        <div class="themeflat-container">
            <div class="row">
                <div class="col-md-12 col-lg-9 col-xl-9 col-xxl-9 widget-blog-content">
                    <div class="post-wrap">
                        <article class="entry format-standard">
                            <div class="main-post">
                                <div class="tag">
                                    <ul>
                                        <div class="feature-post">
                                            <div class="entry-image">
                                                <img src="{{blog.title_image.url}}" alt="image">
                                            </div><!-- /.entry-image -->
                                        </div><!-- /.feature-post -->
                                        <li>
                                            <a href="#">{{blog.tag}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <h2 style="text-align: right ;" class="entry-title-single">
                                   {{blog.title}}
                                </h2>
                                <div style="text-align: right;" class="entry-meta"> نویسنده : گروه هیرکانی</a></span>
                                    <span class="date line"><a href="#">{{blog.datetime_created|to_jalali:'%Y/%M/%d'}}</a></span>
                                </div><!-- /.entry-meta -->

                                <div style="text-align: right;" class="entry-content">
                                    <p style="text-align: right;" class="post">{{blog.description|safe}}</p>
                                </div><!-- /.entry-post -->
                            
                                <div class="wrap-share">
        
                                    
                                    
                            </div><!-- /.main-post -->
                        </article>
             
                    </div><!-- /.post-wrap -->
                </div><!-- /.col-md-9 -->
                    </div><!-- /.sidebar -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>


{% endblock content %}



