{% load static %}
{% load i18n %}

<div class="tf-widget-team main-content">
    <div class="themeflat-container">
        <div class="team-member">
            <div class="title-box title-small center-title-box">
                <span class="sub-title wow fadeInUp animated">{% trans "Our team" %} </span>
                <h2 class="title-section wow fadeInUp animated">{% trans " our member, referee" %} </h2>
            </div>
            <div class="row team">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="team-item wow fadeInUp animated" data-wow-delay="0.1s">
                        <div class="team-image">
                            <img src="{% static 'images/team1.jpg' %} " alt="Team member">
                            <div class="team-social">
                                <ul>
                                    <li>
                                        <a href="https://www.instagram.com/kazemi65222?igsh=OHhlcDhyaHQzMjBt"><i class="bi bi-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="shape-team"></div>
                        </div>
                        <h3 style="text-align: right;" class="name-member">علی اکبر کاظمی</h3>
                        <h4 style="text-align: right;" class="job">برگذار کننده مسابقات</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="team-item wow fadeInUp animated" data-wow-delay="0.3s">
                        <div class="team-image">
                            <img src="{% static 'images/team222.jpg' %}" alt="Team member">
                            <div class="team-social">
                                <ul>
                                  
                                    <li>
                                        <a href="https://www.instagram.com/miladhesam?igsh=MWJldWM2NzV4ejgwbA=="><i class="bi bi-instagram"></i></a>
                                    </li>
                              
                                </ul>

                            </div>
                            <div class="shape-team"></div>
                        </div>
                        <h3 style="text-align: right;" class="name-member">میلاد حسام</h3>
                        <h4 style="text-align: right;" class="job">تدارکات</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="team-item wow fadeInUp animated" data-wow-delay="0.5s">
                        <div class="team-image">
                            <img src="{% static 'images/team33.jpg' %}" alt="Team member">
                            <div class="team-social">
                                <ul>
                           
                                
                                </ul>

                            </div>
                            <div class="shape-team"></div>
                        </div>
                        <h3 style="text-align: right;" class="name-member">امیر صفرنورالله</h3>
                        <h4 style="text-align: right;" class="job">برنامه نویس وب سایت</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="team-item wow fadeInUp animated" data-wow-delay="0.7s">
                        <div class="team-image">
                            <img src="images/member/team4.jpg" alt="Team member">
                            <div class="team-social">
                                <ul>
                                  
                                    <li>
                                        <a href="https://www.instagram.com/nargesghorbanipour1985?igsh=Zzd1NTJyMHVqaXoy"><i class="bi bi-instagram"></i></a>
                                    </li>
                                  
                                </ul>

                            </div>
                            <div class="shape-team"></div>
                        </div>
                        <h3 style="text-align: right;" class="name-member">نرگس قربانی پور</h3>
                        <h4 style="text-align: right;" class="job">سر داور مسابقات</h4>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="team-item wow fadeInUp animated" data-wow-delay="0.7s">
                        <div class="team-image">
                            <img src="{% static 'images/team2.2.jpg' %} " alt="Team member">
                            <div class="team-social">
                                <ul>
                                  
                                  
                                  
                                </ul>

                            </div>
                            <div class="shape-team"></div>
                        </div>
                        <h3 style="text-align: right;" class="name-member">محمد نادرخانی</h3>
                        <h4 style="text-align: right;" class="job">مدیر مالی</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>